CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json
Makefile
__pycache__
.cache/
# Ignore everything in external except the CMake file
/external/*
!/external/CMakeLists.txt
*.so
*.so.*
_out64
out32/*
out64/*
*.pyc
*.vcproj
*.sln
*.suo
*.vcxproj
*.sdf
*.filters
build
build32
dbuild
build-android/external
build-android/bin
build-android/libs
build-android/obj
build-android/third_party
*.config
*.creator
*.creator.user
*.files
*.includes
.vscode/
.DS_Store
.editorconfig
scripts/.vs
.*.sw[op]
*~
# BUILD.gn artifacts
.cipd/
.gclient
.gclient_entries
.gclient_previous_sync_commits
out/
third_party/
buildtools/
depot_tools/
testing/
tools/
