CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
cmake_install.cmake
Makefile
__pycache__
# Ignore everything in external except the CMake file
/external/*
!/external/CMakeLists.txt
*.so
*.so.*
_out64
out32/*
out64/*
*.pyc
*.vcproj
*.sln
*.suo
*.vcxproj
*.sdf
*.filters
build
build32
dbuild
build-android/external
*.config
*.creator
*.creator.user
*.files
*.includes
.vscode/
.DS_Store
