[submodule "submodules/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
