# Copyright (c) 2021-2023 Valve Corporation
# Copyright (c) 2021-2023 LunarG, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: VVL (Build/Tests)

# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  # github.head_ref is only defined on pull_request
  # Fallback to the run ID, which is guaranteed to be both unique and defined for the run.
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id  }}
  cancel-in-progress: true

on:
    push:
    pull_request:
        branches:
            - main

permissions:
  contents: read

jobs:
  linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        compiler: [{cc: gcc, cxx: g++}]
        flags: [{c: "-fsanitize=address", ld: "-fsanitize=address"}, {c: "-fsanitize=thread", ld: "-fsanitize=thread"}]
        config: [debug, release]
        cpp_std: [17]
        robin_hood: ["ON"]
        include:
          # Test Ubuntu-20.04 release build works.
          - os: ubuntu-20.04
            compiler: {cc: gcc, cxx: g++}
            config: release
            cpp_std: 17
            robin_hood: "ON"
          # Test C++ 20 support
          - os: ubuntu-22.04
            compiler: {cc: gcc, cxx: g++}
            config: release
            cpp_std: 20
            robin_hood: "ON"
          # Test clang support
          - os: ubuntu-22.04
            compiler: {cc: clang, cxx: clang++}
            config: release
            cpp_std: 17
            robin_hood: "ON"
          # Test with Robin Hood disabled
          # Chromium build, and some package managers don't use it.
          - os: ubuntu-22.04
            compiler: {cc: clang, cxx: clang++}
            config: release
            cpp_std: 17
            robin_hood: "OFF"
            flags: [{c: "-fsanitize=address", ld: "-fsanitize=address"}]

    steps:
      - uses: actions/checkout@v3
      - uses: lukka/get-cmake@latest
        with:
          cmakeVersion: 3.17.2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ matrix.os }}-${{ matrix.config }}-${{ matrix.compiler.cc }}-${{ matrix.compiler.cxx }}-${{ matrix.cpp_std }}-${{ matrix.flags.c }}-${{ matrix.flags.ld }}-${{matrix.robin_hood}}
      - name: Install build dependencies
        run: |
          python3 -m pip install jsonschema pyparsing
          sudo apt-get -qq update
          sudo apt-get install -y libwayland-dev xorg-dev
      - name: Build Vulkan-ValidationLayers
        run: python3 scripts/github_ci_win_linux.py --build --config ${{ matrix.config }} --cmake='-DVVL_CPP_STANDARD=${{ matrix.cpp_std }} -DUSE_ROBIN_HOOD_HASHING=${{matrix.robin_hood}}'
        env:
          CC: ${{ matrix.compiler.cc }}
          CXX: ${{ matrix.compiler.cxx }}
          CFLAGS: ${{ matrix.flags.c }}
          CXXFLAGS: ${{ matrix.flags.c }}
          LDFLAGS: ${{ matrix.flags.ld }}
          CMAKE_C_COMPILER_LAUNCHER: ccache
          CMAKE_CXX_COMPILER_LAUNCHER: ccache
      - name: Test Vulkan-ValidationLayers - Pixel 6 Adreno profile
        run: python3 scripts/github_ci_win_linux.py --test
        env:
          VK_KHRONOS_PROFILES_PROFILE_FILE: ${{ github.workspace }}/tests/device_profiles/pixel_6_adreno.json
      - name: Test Vulkan-ValidationLayers - Pixel 6 Mali profile
        run: python3 scripts/github_ci_win_linux.py --test
        env:
          VK_KHRONOS_PROFILES_PROFILE_FILE: ${{ github.workspace }}/tests/device_profiles/pixel_6_mali.json
      - name: Test Vulkan-ValidationLayers - NVIDIA Tegra X1 profile
        run: python3 scripts/github_ci_win_linux.py --test
        env:
          VK_KHRONOS_PROFILES_PROFILE_FILE: ${{ github.workspace }}/tests/device_profiles/nvidia_tegra_x1.json
      - name: Test Vulkan-ValidationLayers - Max Profile
        run: python3 scripts/github_ci_win_linux.py --test
        env:
          VK_KHRONOS_PROFILES_PROFILE_FILE: ${{ github.workspace }}/tests/device_profiles/max_profile.json

  windows:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        arch: [ amd64, amd64_x86 ] # 64 bit compiler, 64 bit compiler targeting 32 bit
        config: [ debug, release ]
        os: [ windows-latest ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}
      - name: Install build dependencies
        run: |
          python3 -m pip install jsonschema pyparsing
      - name: Cache dependent components
        id: cache-deps
        uses: actions/cache@v3
        with:
          path: |
            external/${{ matrix.config }}/glslang/build/install
            external/${{ matrix.config }}/Vulkan-Headers/build/install
            external/${{ matrix.config }}/SPIRV-Headers/build/install
            external/${{ matrix.config }}/SPIRV-Tools/build/install
            external/${{ matrix.config }}/robin-hood-hashing/build/install
            external/${{ matrix.config }}/googletest/build/install
            external/${{ matrix.config }}/Vulkan-Headers/registry
            external/${{ matrix.config }}/SPIRV-Headers/include
            external/${{ matrix.config }}/mimalloc/build/install
          key: ${{ matrix.os }}-build-${{ matrix.arch }}-${{ matrix.os }}-${{ matrix.config }}-${{ hashfiles('scripts/known_good.json') }}
      - name: Build
        run: python3 scripts/github_ci_win_linux.py --build --config ${{ matrix.config }} --cmake='-DUPDATE_DEPS_SKIP_EXISTING_INSTALL=ON'
      - name: Test Vulkan-ValidationLayers - Max Profile
        run: python scripts/github_ci_win_linux.py --test

  android_cmake:
      runs-on: ubuntu-22.04
      strategy:
        matrix:
          abi: [ arm64-v8a ]
          build_tests: [ "ON" ]
          stl_type: ["c++_shared"]
          include:
          - abi: armeabi-v7a
            build_tests: "OFF"
            stl_type: c++_static

      steps:
        - uses: actions/checkout@v3
        - uses: lukka/get-cmake@latest
        - name: Setup ccache
          uses: hendrikmuhs/ccache-action@v1.2
          with:
            key: android-${{ matrix.abi }}-${{ matrix.build_tests }}-${{ matrix.stl_type }}
        - name: Configure
          run: |
            cmake -S . -B build/ --toolchain $ANDROID_NDK_ROOT/build/cmake/android.toolchain.cmake \
            -D ANDROID_PLATFORM=26 \
            -D CMAKE_ANDROID_ARCH_ABI=${{ matrix.abi }} \
            -D CMAKE_ANDROID_STL_TYPE=${{ matrix.stl_type }} \
            -D ANDROID_USE_LEGACY_TOOLCHAIN_FILE=NO \
            -D CMAKE_BUILD_TYPE=Debug \
            -D BUILD_TESTS=${{ matrix.build_tests }} \
            -D UPDATE_DEPS=ON \
            -D BUILD_WERROR=ON \
            -G "Ninja"
          env:
            CMAKE_C_COMPILER_LAUNCHER: ccache
            CMAKE_CXX_COMPILER_LAUNCHER: ccache
        - name: Build
          run: cmake --build build/
        - name: Test
          if: matrix.build_tests == 'ON'
          working-directory: ./build
          run: ctest --output-on-failure -C Debug

  macos:
    runs-on: macos-latest
    strategy:
      matrix:
        macos_version: ["min","latest"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: lukka/get-cmake@latest
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: macos-${{ matrix.macos_version }}
      - name: Install python dependencies
        run: python3 -m pip install jsonschema pyparsing
      - name: Build
        run: python3 scripts/github_ci_build_desktop.py --config release --osx ${{ matrix.macos_version }}
        env:
          CMAKE_C_COMPILER_LAUNCHER: ccache
          CMAKE_CXX_COMPILER_LAUNCHER: ccache

  mingw:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: mingw-ccache
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: lukka/get-cmake@latest
      - name: GCC Version
        run: gcc --version # If this fails MINGW is not setup correctly
      - name: Configure
        run: cmake -S. -B build -D BUILD_WERROR=ON -D UPDATE_DEPS=ON -D CMAKE_BUILD_TYPE=Release
        env:
          LDFLAGS: -fuse-ld=lld # MINGW linking is very slow. Use llvm linker instead.
          CMAKE_C_COMPILER_LAUNCHER: ccache
          CMAKE_CXX_COMPILER_LAUNCHER: ccache
          CMAKE_GENERATOR: Ninja
      - name: Build
        run: cmake --build build -- --quiet
      - name: Install
        run: cmake --install build --prefix build/install
      - name: MinGW ccache stats # The Post Setup ccache doesn't work right on MinGW
        run: ccache --show-stats

  # Test to ensure we don't accidentally break the SDK, LunarG/VulkanTools, Vulkan-Profiles, or the Chromium build.
  integration_test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: lukka/get-cmake@latest
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: integration_test_ccache
      - name: Install WSI dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y libwayland-dev xorg-dev
      - name: Configure SDK Integration Test
        run: cmake -S tests/integration -B tests/integration/build
        env:
          CMAKE_C_COMPILER_LAUNCHER: ccache
          CMAKE_CXX_COMPILER_LAUNCHER: ccache
          CMAKE_GENERATOR: Ninja
      - name: Build SDK Integration Test
        run: cmake --build tests/integration/build
      - name: Test chromium build
        run: python scripts/github_ci_gn.py
